# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @andreagit97 @cpanato @fededp @gnosek @jasondellaluce @leogr @loresuso @lucaguerra @mstemm @ekoops @maxgio92 @molter73 @incertum @zuc @issif @alacuku @sgaist @deepskyblue86 @geraldcombs @irozzo-1A @therealbobo @c2ndev 
